.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F6F7FB;
    /* margin: auto; */
}

.first {
    text-align: center;
    margin: 3rem;
    display: flex;
    gap: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.second {
    text-align: center;
    margin: 3rem;
    display: flex;
    gap: 5rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23rem;
    margin: 10px;
}

.text h1 {
    font-size: 2rem;
}

.text p {
    font-size: 1rem;
}

.img {
    border-radius: 10px;
}